.content {

}

.sol_frame_home,.sol_frame_icerik {
  overflow: auto;
  padding: 0;
  float: left;
  position: fixed;
  top: 51px;
  bottom: 0;
  border: 0;
  overflow-x: hidden;
  width:300px;
}

#sol_frame::-webkit-scrollbar {
    width: 12px;
}
#sol_frame::-webkit-scrollbar-track {
    background-color: #232323;
}
#sol_frame::-webkit-scrollbar-thumb {
    background-color: #3f3f3f;
    border: 1px solid #525252;
}
#sol_frame::-webkit-scrollbar-thumb:hover {
    background-color: #8b8b8b;
}
.entry_icerik,.entry_icerik_home {
    margin-top:80px;
    margin-bottom:50px;
    margin-left:300px;
}
.selected {
    background-color: #ddd;
    
}

.baslik {
    color:red;
}

.admin_content {
    margin-top:60px;
}

#options_form {
    width:370px;
    margin:0 auto;
    margin-top:50px;
}

.entry {
    
}

.slogan {
    margin-left:20px;
}

.son_entryler {
      margin: 0;
  padding: 8px 13px 13px 13px;
  display: table-cell;
  float: none;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: none;
}

.son_sukular,.son_cukular,.son_entryler,.en_iyiler {
    width:400px;
      margin: 0;
  padding: 8px 13px 13px 13px;
  display: table-cell;
  float: none;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: none;
}
.wbox {
  background-color: #e1e1e1;
}

.ilk-row-user {
      display: table-row;
  width: 100%;
}

.user_page {http://www.tahribat.com/
margin:50px 50px 50px 50px;
    
}
.user_page li {
    list-style: none;
}

/* responsive giriş */
@charset "utf-8";

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
.sol_frame_icerik {
    display:none;
}
.entry_icerik_home {
    display:none;
}

.entry_icerik {
    width:100%;
    position:relative;
    margin:60px 0px 0px 0px;
}
.sol_frame_home{
    width:100%;
    top:60px !important;
}
.navbar {
    display:none;
}
.mobil_menu {
    display:list-item !important;
}
}
/* Tablet to desktop
------------------------- */
@media (min-width: 481px) and (max-width: 979px) {
    .sol_frame_icerik {
  
}
.entry_icerik_home {
  
}    

.entry_icerik {
    margin:60px 0px 0px 300px;
}
.sol_frame_home{
    top:60px !important;
}
.navbar {
    display:none;
}
.mobil_menu {
    display:list-item !important;
}
}
/* Desktop
------------------------- */
@media (min-width: 980px) {

}

/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}


.pagination-sm>li>a, .pagination-sm>li>span {
    padding: 3px 6px;
    font-size: 11px;
    line-height: 1.5;
}